<!-- app.component.html -->
<div class="p-4 bg-teal-800 min-h-screen">
  <div class="max-w-6xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <input
      id="search-input"
      type="text"
      placeholder="Search..."
      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
      (input)="onSearch($event)"
    />
    <div *ngIf="loading" class="mt-4 text-gray-700">Loading...</div>
    <ul>
      @for (result of searchResults; track $index) {
      <li>{{ result }}</li>
      }
    </ul>
  </div>

  <div class="max-w-6xl mx-auto mt-8 bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold">Combined Data</h3>
    @if (!loading && !error) {
    <div class="mt-4 text-gray-700">
      <ul>
        @for (result of combinedResults; track $index) {
        <li>{{ result }}</li>
        }
      </ul>
    </div>

    }
    <div *ngIf="loading" class="mt-4 text-gray-700">Loading...</div>
  </div>
</div>
